{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Welcome </title>
    
  <link rel="stylesheet" type="text/css" href="css/ionicons-2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="{% static 'css/base.css' %}">

</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="row">
        <div class="col-md-1">
      <div class="navbar-header icon-name">
        <img class="img-circle" href="#myPage" src="logo.png" width="84px" height="73px">
      </div>
    </div>
    <div class="col-md-7">
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-left">
            <form class="search-form">
              <input type="text" name="search" type="submit" class="search-bar" placeholder="Search..">
            </form>
          </ul>
        </div>
    </div>
    <div class="col-md-4 reg-log">
      <button type="button" class="btn register-btn" onclick="window.location.href='{% url 'register' %}'">Register</button>
      <button type="button" class="btn login-btn" onclick="window.location.href='{% url 'signin' %}'">Log In</button>
    </div>
      </div>
    </div>
  </nav>


<!-- All Events -->

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="all">All Events</h1>

      <section class="all-events">

        <div class="row">
          <div class="col-md-7">
            <h2 class="title"><b>Elyxion</b></h2>

            <p class="time-date">July 28, 2018 | 4:00 PM</p>
            <p class="location">Bansalan</p>
            <p class="event-description truncate">London is the capital city of England. It is the most populous city in the United Kingdom, with a metropolitan area of over 13 million inhabitants.

            Standing on the River Thames, London has been a major settlement for two millennia, its history going back to its founding by the Romans, who named it Londinium.</p>
            <span class="icon ion-ios-people"> 34 going</span>
            <p class="created"> Create by: Karla Nadhine</p>
          </div>
          <div class="col-md-5 text-right ">
            <img src="https://marketplace.canva.com/MACcZqwhNdE/3/0/thumbnail_large/canva-blue-green-festival-event-poster-MACcZqwhNdE.jpg" class="poster" width="212" height="237">
<!--             <div class="invite-join">
              <button type="button" class="btn invite-btn">Invite</button>
              <button type="button" class="btn join-btn">Join</button>
            </div> -->

          </div>
        </div>

      </section>

    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>