{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Log In </title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#myPage">TRIP EVENT </a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="box text-center">
            <h1 class="reg">Log In</h1>
            <form method="POST" action="  " class="registration-form">  
            {% csrf_token %}   
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">  
                        <input type="text" placeholder="Enter Email Address" id="id_email" name="email" required>

                        <input type="password" placeholder="Enter Password" id="id_password" name="password" required> 

                        <button type="submit" id="id_submit" name='Signin' value="Signin" class="btn registerbtn">LOG IN</button>

                        <p class="exist">Dont have an account yet? <a class="account-reg" href="{% url 'register' %}">Sign Up</a>.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>                             