{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title> Register </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header icon-name">
        <img class="image-icon" href="#myPage" src="logo.png" width="84px" height="73px">
      </div>
        </div>
    </nav>

    <div class="container">
        <div class="box text-center">
            <h1 class="reg">Create Account</h1>

            <form action=" " method="POST" class="registration-form"> 
                {% csrf_token %}    
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">  
                        <input type="text" placeholder="Email Address" id="id_email" name="email" required>

                        <input type="text" placeholder="First Name" id="id_first_name" name="first_name" required>

                        <input type="text" placeholder="Last Name" id="id_last_name" name="last_name" required>

                        <input type="password" placeholder="Enter Password" id="id_password" name="password" required>
                        
                        <input type="password" placeholder="Confirm Password" id="id_confirm_password" name="confirm_password" required>

                        <button type="submit" id="id_submit" name='register' value="register" class="btn registerbtn">SIGN UP</button>

                        <p class="exist">Already have an account? <a class="account-reg" href="{% url 'signin' %}"">Log in</a>.</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>