{% load static %}

<!DOCTYPE html>

<html>

<head>

  <title> Dashboard </title>

  

  <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons-2.0.1/css/ionicons.min.css' %}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



  <link rel="stylesheet" href="{% static 'css/base.css' %}">



</head>

<body>  

  <nav class="navbar">

    <div class="container">

      <div class="row">

        <div class="col-md-1">

      <div class="navbar-header icon-name">

        <img class="img-circle" href="#myPage" src="logo.png" width="84px" height="73px">

      </div>

    </div>

    <div class="col-md-6">

        <div class="collapse navbar-collapse" id="myNavbar">

          <ul class="nav navbar-nav navbar-left">

            <form action="{% url 'search' %}" method="GET" class="search-form">

              <input type="text" name="search" type="submit" value="Search" class="search-bar" placeholder="Search..">

            </form>

          </ul>

        </div>

    </div>

    <div class="col-md-2 center-block">

      <button type="button" class="btn createbtn" onclick="window.location.href='{% url 'createpost' %}'"><i class=" icon ion-ios-plus-empty"></i>Create Event</button>

    </div>

    <div class="col-md-3 user-profile">

      <span class="dropdown-toggle"></span>

          <a class="dropdown-toggle" data-toggle="dropdown" href="#">

            <img class="img-circle person" href="#myPage" src="https://pbs.twimg.com/profile_images/1021832877917405185/LjKFmHtR_400x400.jpg" width="37px" height="34px">Hi,{{request.user.first_name}}

          <span class="caret"></span></a>

          <ul class="dropdown-menu drop">

            <li><a href="{% url 'index' %}">Home</a></li>

            <li><a href="{% url 'profile' %}">Profile</a></li>

            <li><a href="{% url 'archivelist' %}">Archive</a></li>

            <li><a href="{% url 'accountsettings' %}">Account Settings</a></li>

            <li><a href="{% url 'welcome' %}">Logout</a></li> 

          </ul>

        </li>

    </div>

      </div>

    </div>

  </nav>  



<!-- All Events -->



 <div class="container">

  <div class="row">

    <div class="col-md-8">

      <h1 class="all">All Events</h1>

      <form method="POST" action=" ">

         {% csrf_token %}

      

         {% for post in posts %}



        <section class="all-events">

      

      <div class="row">

        <div class="col-md-7">

          <a href="#" class="title"><b>{{post.title}}</b></a>



          <p class="time-date">{{post.date_updated}} | {{post.time}}</p>

          <p class="location">{{post.venuel}}</p>

          <p class="event-description truncate">{{post.description}}</p>

          <span class="icon ion-ios-people"> 34 going</span>

          <p class="created"> Create by: {{post.author}}</p>

        </div>

        <div class="col-md-5 text-right ">

          {% if post.image %}

          <img src="{{post.image.url}}" class="poster" width="212" height="237">

          {% endif %}

          <div class="invite-join">

            {% if user.is_authenticated and user == post.author %}

            <button type="button" class="btn invite-btn" data-toggle="modal" data-target="#invite">Invite</button>

            {%  endif %}

            <button type="submit" class="btn join-btn">Join</button>

          </div>

        </div>

      </div>

    </section>

      </form>
      <!-- Invite Modal -->

<div class="modal fade" id="invite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title" id="exampleModalLabel">Invite</h4>

      </div>

      <div class="modal-body">

        <form method="POST" action="{% url 'invite_email' post.id %}">

          {% csrf_token %}

          <div class="form-group">

            <label for="invite-email" class="control-label">Email:</label>

            <input type="email" class="form-control" id="recipient-email" placeholder="user@user.com">

          </div>

        </form>

      </div>

      <div class="modal-footer">

        <button type="submit" class="btn btn-primary">Invite</button>

      </div>

    </div>

  </div>

  </div>
</div>

   {% endfor %}

    <div class="col-md-4">

      <h1 class="upcoming">Upcoming Events</h1>

      <div class="row">

        <div class="col-md-12 upcoming-event">

          <ul class="joined list-unstyled">

            <li> <a href="#" class="mytitle">{{post.title}}</a></li>

            <li class="icon ion-ios-clock-outline"> {{post.date_updated}} | {{post.time}} </li>

            <li class="icon ion-ios-location">{{post.venuel}}</li>

          </ul>

        </div>

      </div>

    </div>

  </div>

  </div>
 
 





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</body>

</html>